.card-deck{
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
    margin-left: 10px;
    padding: auto;
    margin-bottom: 10px;

}
.card-body >button{
    padding: 10px;
    margin-left:100px;

}
.card{
    margin-left:20px;
}
#raj{
    margin-top:20px;
    margin-left:600px;
}